@charset "UTF-8";
/*
	Author: Rachel
	Version: 0.0.1
	date: 2017/05/4
*/
/* base - Base styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:before {
  content: "";
  display: table;
  clear: both; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* common
*----------------------------------------------------------------------------*/
body, html {
  color: #666666;
  background-color: #ffffff;
  font-family: Arial, "Heiti TC", 'Microsoft JhengHei', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: normal;
  -webkit-text-size-adjust: none;
  /*overflow: hidden;
  overflow-x: hidden;*/ }

a {
  color: #1472B5;
  text-decoration: none; }


.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.siteWrap .view{
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}
.siteWrap .view.minHeight{
  min-height: 400px;
}
/***
** loading
**
***/
.loading{
  display: none;
}
.loading.startAnim {
  display: block;
  width: 100%;
  height: 100vh;
  background: #16171d;
  opacity: 0.9;
  position: fixed;
  z-index: 9999;
}

.loading.startAnim > div {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 50%;
  margin-top: -30px;
}


.loading.startAnim > div > div {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background: #f95916;
  top: 10px;
  left: 10px;
  transform-origin: 20px 20px;
  border-radius: 8px;
  animation: spin-a 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

.loading.startAnim > div > .c2 {
  top: 10px;
  left: auto;
  right: 10px;
  transform-origin: -4px 20px;
  animation: spin-b 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
.loading.startAnim > div > .c3 {
  top: auto;
  left: auto;
  right: 10px;
  bottom: 10px;
  transform-origin: -4px -4px;
  animation: spin-c 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
.loading.startAnim > div > .c4 {
  top: auto;
  bottom: 10px;
  transform-origin: 20px -4px;
  animation: spin-d 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

@keyframes spin-a {
  0%   { transform: rotate(90deg); }
  0%  { transform: rotate(90deg); }
  50%  { transform: rotate(180deg); }
  75%  { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin-b {
  0%   { transform: rotate(90deg); }
  25%  { transform: rotate(90deg); }
  25%  { transform: rotate(180deg); }
  75%  { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin-c {
  0%   { transform: rotate(90deg); }
  25%  { transform: rotate(90deg); }
  50%  { transform: rotate(180deg); }
  50%  { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin-d {
  0%   { transform: rotate(90deg); }
  25%  { transform: rotate(90deg); }
  50%  { transform: rotate(180deg); }
  75%  { transform: rotate(270deg); }
  75% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}


.loading.startAnim > span {
  width: 100px;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: 30px;
  color: #f95916;
  font-size: 12px;
  text-align: center;
}


/***
** button
**
***/
.reseve-M {
  display: none;
}
.backToSite {
  display: block;
}
.backToSite {
  font-size: 17px;
  line-height: 28px;
  color: #FE7262;
  cursor: pointer;
}
.backToSite img{
  padding-right: 10px;
  max-width: 12px;
  width: 100%;
  vertical-align: -15%;
}
section.proSec .backToSite {
  display: none;
}

.reserveBtn {
  width: 220px;
  height: 42px;
  font-size: 18px;
  font-family: Arial, "Heiti TC", 'Microsoft JhengHei', Helvetica, sans-serif;
  letter-spacing: 0.27px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  background: #FF5E33;
  border-radius: 5px;
  border: none;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}
.reserveBtn:hover {
  background: #f37844;
}
/***
** form
**
***/
.labelBox label {
  font-size: 16px;
  color: #000;
  /* ▼ 0921 新增 ▼ */
  cursor:pointer;
  /* ▲ 0921 新增 ▲ */
}
.box .selectWrap{
  border-radius: 20px;
  background: rgba(255,86,14,1);
  background: -moz-linear-gradient(left, rgba(255,86,14,1) 0%, rgba(255,124,98,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,86,14,1)), color-stop(100%, rgba(255,124,98,1)));
  background: -webkit-linear-gradient(left, rgba(255,86,14,1) 0%, rgba(255,124,98,1) 100%);
  background: -o-linear-gradient(left, rgba(255,86,14,1) 0%, rgba(255,124,98,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,86,14,1) 0%, rgba(255,124,98,1) 100%);
  background: linear-gradient(to right, rgba(255,86,14,1) 0%, rgba(255,124,98,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff560e', endColorstr='#ff7c62', GradientType=1 );
}
input[type="text"] {
  font-size: 16px;
  font-family: Arial, "Heiti TC", 'Microsoft JhengHei', Helvetica, sans-serif;
  line-height: 30px;
  height: 30px;
  display: block;
  width: 100%;
  color: #666;
  border: none;
  border-bottom: 1px solid #f95916;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*input[type="button"] {
  display: inline-block;
  width: 134px;
  height: 40px;
  font-size: 18px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  background: #f95916;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(255,255,255,.5);
  -moz-box-shadow: 0px 0px 12px 2px rgba(255,255,255,.5);
  box-shadow: 0px 0px 12px 2px rgba(255,255,255,.5);
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}
input[type="button"]:hover {
  background: #f37844;
}*/
textarea{
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-family: Arial, "Heiti TC", 'Microsoft JhengHei', Helvetica, sans-serif;
  color: #666;
  overflow: auto;
  outline : #ff7563;
  border: 1px solid #ff7563;
  resize: none;
  background: transparent;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
textarea:focus {
  border: 2px solid #ff7563;
}
textarea.noteTA {
  margin-top: 5px;
}
textarea.formTA {
  width: 100%;
}
/***
** lightbox
**
***/

.lightBox.w600 {
  width: 600px;
}
.lightConBox {
  max-width: 500px;
  margin: 0 auto;
}
.listBox {
  display: table;
  width: 100%;
  font-size: 15px;
  margin-bottom: 10px;
  text-align: left;
}
.listBox .ttl,
.listBox .con{
  display: table-cell;
}
/* ▼ 0921 新增 ▼ */
.phoneNum{
  border-bottom: 2px solid #ff5310;
}
.phoneChange{
  color:#fff;
  font-size:12px;
  background:#ff5310;
  padding:5px 10px;
  margin:0 0 0 8px;
  cursor:pointer;
  border-radius:20px;
  transition:.3s;
}
.phoneChange:hover{
  background:#f37844;
}
.notePhone{
  color:#f95916;
  font-size: 80%; 
  line-height: 14px; 
  margin:5px 0 0;
}
.notePhone span{ 
  color:#fff;
  text-align: center;
  font-size: 12px;
  width: 16px;
  height:16px;
  line-height: 18px;
  display: inline-block;
  background: #f95916;
  border-radius: 10px;
}

.btnWrap .reserveBtn{ width:200px; }
.btnGoDown{ display: none; }

/* ▲ 0921 新增 ▲ */


.listBox .ttl{
  text-align:right;
  font-size: 16px;
  font-weight: 600;
  color: #070707;
  width: 100px;
  padding: 0 15px 0 0;
}
.listBox .con{color: #808080; border-bottom: 1px solid #F1F1F1; padding: 0 0 10px;}
.lightBox .btnWrap {
  margin: 30px auto 20px;
}
.lightBox .note {
  font-size:12px;
  color:#5f5f5f;
  text-align:center;
}

.filledWrapper {
  display: none;
  border-top: 1px solid #e0e0e0;
  padding: 30px 0 0 0;
  margin: 36px 0 0 0;
}
.filledWrapper.showUP {
  display: block;
}

















header {
  padding: 12px 40px 0;
  height: 52px;
  border-bottom: 2px solid #ff7563;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header .ttl {
  position: relative;
  display: inline-block;
  width: 295px;
  background: url(../images/logo.png) no-repeat 50% 50%;
  background-size: 100% auto;
  margin-right: 16px;
}
header .ttl:after {
  display: block;
  content: '';
  padding-bottom: 15.255%;
}
header .ttl a {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
}
header .partner {
  width: 110px;
  display: inline-block;
  background: url(../images/logo_partner.png) no-repeat 50% 50%;
  background-size: 100% auto;
}
header .partner:after {
  display: block;
  content: '';
  padding-bottom: 40.91%;
}


section.kvSec .banner{
  position: relative;
}
section.kvSec .banner .reserveBtnBox{
  position: absolute;
  right: 24px;
  bottom: 18px;
  width: auto;
  z-index: 1;
}
section.kvSec .kvBox .item{
  position: relative;
}
section.kvSec .kvBox .item:before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(51,51,51,0) 80%, rgba(0,0,0,0.4) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(80%, rgba(51,51,51,0)), color-stop(100%, rgba(0,0,0,0.4)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(51,51,51,0) 80%, rgba(0,0,0,0.4) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(51,51,51,0) 80%, rgba(0,0,0,0.4) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(51,51,51,0) 80%, rgba(0,0,0,0.4) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(51,51,51,0) 80%, rgba(0,0,0,0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}

section.tabSec {
  position: relative;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.tabSec .tabContent {
  display: table;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #333;
}
section.tabSec .tabContent .ttl {
  margin-bottom: 3px;
  font-size: 16px;
  line-height: 28px;
}
section.tabSec .tabContent .subttl {
  margin-bottom: 3px;
  font-size: 18px;
  line-height: 24px;
}
section.tabSec .tabContent .mealinfo{
  display: table-cell;
  padding: 0 28px 0 40px;
  width: 50%;
  border-right: 1px dotted #FFC7C0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.tabSec .tabContent .shopInfo {
  display: table-cell;
  padding: 0 40px 0 28px;
  width: 60%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.tabSec .tabContent ul.blogBox li{
  position: relative;
  display: block;
  float: left;
  width: calc(50% - 52px);
  margin: 22px 0 0 52px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.tabSec .tabContent ul.blogBox li:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px;
  width: 2px;
  background: #ff7563;

}
section.tabSec .tabContent .moreBtnBox {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
section.tabSec .tabContent .moreBtnBox a {
  display: block;
  width: 48px;
  height: 18px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  background: #ff7563;
  text-align: center;
  border-radius: 5px;
}
section.tabSec .tabContent ul.blogBox li a{
  display: block;
}
section.tabSec .tabContent ul.blogBox li a > span {
  display: block;
}
section.tabSec .tabContent ul.blogBox li a span.txtG {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 18px;
  color: #888888;
}
section.tabSec .tabContent ul.blogBox li a span.txtOr {
  font-size: 14px;
  line-height: 18px;
  color: #ff7563;
}
section.tabSec .bloggerBox {
  margin-top: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.tabSec .bloggerBox .articleBox a {
  color: #ff7563;
  font-size: 18px;
  line-height: 24px;
  text-decoration: underline;
}
section.proSec .proBox {
  padding: 16px 20px;
  background: #fff5f0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.proSec .proBox .chooseBox {
  position: relative;
  padding: 30px 56px;
  background: #fff;
  border-width: 1px; border-style: dashed; border-color: #ff7563;
}
section.proSec .proBox .chooseBox .ttl {
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}
section.proSec .proBox .chooseBox .items{
  width: 100%;
  margin-bottom: 36px;
}
section.proSec .proBox .chooseBox .items > .box{
  padding: 0 30px 0 0;
  display: table-cell;
}

section.proSec .proBox .chooseBox .items > .box.fillBox{
  width: 100%;
  display: block;
}





section.proSec .proBox .chooseBox .items .labelBox{
  padding-left: 5px;
  display: inline-block;
  vertical-align: middle;
}
section.proSec .proBox .chooseBox .half {
  display: table;
  width: 100%;
}
section.proSec .proBox .chooseBox .half .items:nth-child(1){
  display: table-cell;
  width: 47%;
  padding-right: 6%;
}
section.proSec .proBox .chooseBox .half .items:nth-child(2){
  display: table-cell;
  width: 47%;
  padding-right: 0;
}
section.proSec .subttl {
  padding-left: 6px;
  font-size: 14px;
  color: #888;
}
section.proSec .proBox .chooseBox .half .items .box{
  padding: 0 14px 0 0;
}
section.proSec .proBox .chooseBox .items .box.totalAmount{
  padding: 0;
  vertical-align: bottom;
}
section.proSec .proBox .chooseBox .items .box.totalAmount > span {
  display: inline-block;
  padding-right: 8px;
}
section.proSec .dollar {
  color: #000;
  font-size: 18px;
}
section.proSec .money {
  color: #ff7563;
  font-size: 45px;
}
/**
** afterOrderPage
**
**/
section.proSec.afterOrderPage {
  padding: 40px 15px 54px;
}
section.proSec.afterOrderPage h1 {
  padding-bottom: 16px;
  font-size: 20px;
  color: #FE7262;
}
section.proSec.afterOrderPage h1 span{
  padding-left: 16px;
  font-size: 28px;
  color: #494949;
}
section.proSec.afterOrderPage .proBox .chooseBox{
  padding: 0;
  background: transparent;
  border: none;
}
section.proSec.afterOrderPage .proBox {
  padding: 38px 46px 20px;
  background: #fff5f0;
}
.rulesBox{
  margin-bottom: 20px;
}
section.proSec.afterOrderPage .proBox .chooseBox .half {
  margin-bottom: 36px;
}
.rulesBox .ttl{
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}
.rulesBox ul {
  margin-left: 20px;
  list-style-type: square;
}
.rulesBox ul {
  word-break: break-word;
}
section.proSec.afterOrderPage ul.subDetails {
  list-style-type: decimal;
}
section.proSec.afterOrderPage .formBox {
  padding: 40px 40px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.box {
  margin-bottom: 20px;
}
label {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-align: left;
}
input[type="text"] {
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  display: block;
  width: 100%;
  color: #666;
  border: none;
  border-bottom: 1px solid rgba(255,86,14,1);
  border-radius: 0;
  background: transparent;
}
input[type="text"]:focus {
  border-bottom: 2px solid rgba(255,86,14,1);
}


.noteBox {
  margin: 10px 0;
  font-size: 14px;
  text-align:left;
  line-height: 20px;
  color: #888;
}
.noteBox a{
  color: #1472B5
}
section.proSec.afterOrderPage .btnWrap {
  margin: 80px auto 20px;
  text-align: center;
}
section.proSec.afterOrderPage .btnWrap input{
  display: inline-block;
  width: 134px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background: #f95916;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(255,255,255,.5);
  -moz-box-shadow: 0px 0px 12px 2px rgba(255,255,255,.5);
  box-shadow: 0px 0px 12px 2px rgba(255,255,255,.5);
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}
section.proSec.afterOrderPage .btnWrap input:hover {
  background: #f37844;
}
section.proSec.afterOrderPage .btnWrap input.bgGrey {
  margin-right: 15px;
  background: #B2B2B2;
}
section.proSec.afterOrderPage .btnWrap input.bgGrey:hover {
  background: #c7c7c7;
}
section.infoSec .infoBox {
  padding: 30px 42px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.infoSec .infoBox .topPattern {
  width: 100%;
  height: 5px;
  background: url(../images/pattern.png) repeat-x left center;
  background-size: auto 5px;
}
section.infoSec .infoBox .detailBox {
  padding: 24px 48px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.infoSec .infoBox .detailBox .detailItems {
  margin-bottom: 30px;
}
section.infoSec .infoBox .detailBox .detailItems:last-child {
  margin-bottom: 0;
}
section.infoSec .infoBox .detailBox .detailItems ul {
  margin-left: 20px;
  /* ▼ 0921 新增 ▼ */
  margin-bottom: 20px;
  /* ▲ 0921 新增 ▲ */
  list-style-type: square;
}
section.infoSec .infoBox .detailBox .detailItems ul li{
  padding-bottom: 6px;
}
section.infoSec .infoBox .detailBox .detailItems ul li span.left,
section.infoSec .infoBox .detailBox .detailItems ul li span.right{
  display: inline-block;
  vertical-align: top;
}
section.infoSec .infoBox .detailBox .detailItems ul li span.right{
  width: calc(100% - 80px);
}
section.infoSec .infoBox .detailBox .detailItems ul li span.left {
  min-width: 42px;
}
section.infoSec .infoBox .detailBox .detailItems .ttl {
  position: relative;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #000;
  letter-spacing: 2px;
}
section.infoSec .infoBox .detailBox .detailItems .icon {
  max-width: 30px;
  vertical-align: bottom;
}
section.infoSec .infoBox .detailBox .detailItems .mapBTn {
  display: inline-block;
  max-width: 37px;
  vertical-align: middle;
  cursor: pointer;
}
section.infoSec .infoBox .detailBox .detailItems .mapBTn a{
  font-size: 12px;
  font-weight: 600;
  color:#fff;
  padding:2px 5px;
  background:#FFB43E;
  border-radius:3px;
}
section.infoSec .infoBox .detailBox .detailItems .mapBTn img{
  max-width: 100%;
}
section.infoSec .infoBox .detailBox .detailItems ul.subDetails {
  list-style-type: decimal;
}
section.infoSec .infoBox .detailBox .detailItems ul.subDetails a {
  color:#ff5e33;
}

/* ▼ 0921 新增 ▼ */
.storeName{
  font-size: 110%;
  margin: 0 0 10px;
  padding: 0 10px 3px 3px;
  border-bottom: 2px solid #ff7563;
  display: inline-block;
}
/* ▲ 0921 新增 ▲ */




footer {
  width: 100%;
  height: 32px;
  line-height: 32px;
  background: #d7d7d7;
  color: #888;
  font-size: 11px;
  text-align: center;
}
footer.fixed {
  position: fixed;
  bottom: 0;

}



/************
**********
********** serviceRules page
**********
*********** */
section.servSec {
  padding: 20px;
}
section.servSec h1{
  padding: 40px 0 16px;
  color: #5F5F5F;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
section.servSec h1.pdB0 {
  padding: 10px 0;
}
section.servSec .listBox {
  margin: 20px 0;
}
section.servSec p{
  padding: 0 10px 10px 10px;
  font-size: 14px;
  line-height: 20px;
  color: #5F5F5F
}
section.servSec p.q-ttl {
  font-size: 16px;
  color: #ff7563;
  font-weight: bold;
  padding-top: 10px;
}
section.servSec p.q-ttl:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  margin-top: -4px;
  width: 4px;
  height: 4px;
  background: #ff7563;
}
section.servSec .listTtl {
  padding-left: 10px;
  margin-bottom: 10px;
  line-height: 38px;
  height: 38px;
  background: #e0e0e0;
  border-radius: 10px;
}
ul.numberUl {
  list-style-type: decimal;
  margin-left: 27px;
}
.sulLIST {
  margin-left: 28px;
}
/************
**********
********** orderRules page
**********
*********** */
.orderStepBox .left,
.orderStepBox .right {
  display: table-cell;
}
.orderStepBox .left{
  min-width: 90px;
}
.buyStepImgBox {
  display: block;
  max-width: 377px;
  margin: 20px auto;
}
.buyStepImgBox img {
  max-width: 100%
}
nav .linkMenu {
  display: inline-block;
  position: absolute;
  right: 0; top: 50%;
  -webkit-transform: translateY(-50%);
  transform:         translateY(-50%);
  z-index: 10;
}
nav .btnMenuBur {
  display: none;
}
.linkMenu > div {
  border-right: 1px solid #F26847;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
.linkMenu div:last-child{ margin:0; border-right:0;}
/*
.linkMenu > div:after{
  content: '';
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: -12px;
  width: 1px;
  background: #f95916;
}
.linkMenu > div:last-child:after{
  width: 0px;
}*/
.linkMenu a {
  color: #000;
}
.linkMenu a:hover {
  color: #f37844;
}
.backToSite {
  float: left;
}










/************
**********
********** orderComplete
**********
*********** */
.detailInfoBox {
  margin-bottom: 30px; 
}
.detailInfoBox .listBox {
    display: table;
    width: 100%;
    margin-bottom: 8px;
    text-align: left;
}
.detailInfoBox .listBox .ttl {
    width: 100px;
    color: #000;
    letter-spacing: 4px;
}
.txtBlue {
  color: #1472B5;
}
.txtGray {
  color: #666;
}





/************
**********
********** phone
**********
*********** */
section.phoneSec {
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.phoneSec .ttl,
section.phoneSec .fillPhone{
  margin-top: 20px;
}
.phoneBox {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-align: center;
}
.phoneBox h1 {
  font-size: 20px;
}
.phoneBox .fillPhone input{
  width: 100%;
}
.phoneBox .btnWrap {
  margin: 20px auto;
}
.phoneBox .btnWrap input {
  width: 150px;
}
.phoneBox .note {
  font-size: 14px;
  color: #666;
}
.phoneBox .note .bk {
  color: #000;
}
.text-left {
  text-align: left;
}


/************
**********
********** contactBox
**********
*********** */
.contactBox {
  padding-top: 40px;
}
.contactBox .img {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
}
.contactBox .img img {
  max-width: 100%;
}
.contactBox p.hlight {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ff7563;
}
/************
**********
********** contactForm
**********
*********** */
.contactForm {
  width: 100%;
  padding: 40px 15px;
  background: #fff5f0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.contactForm h1 {
  padding-bottom: 20px;
}
.contactForm .phoneBox {
  position: relative;
  top: initial; left: initial;
  width: 100%;
  max-width: 500px;
  -webkit-transform: none;
  transform:         none;
  margin: 0 auto;
  background: #fff;
  padding: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.contactForm .col-red { color: #ff0000; }
.contactForm .fillPhone {
  text-align: left;
  padding-top: 20px;
}
.contactForm .fillPhone p { padding-left: 0; }
.contactForm .fillPhone .box {
  position: relative;
  padding-top: 15px;
}
.contactForm .fillPhone .box span {
  display: inline-block;
  width: 1em;
}
.contactForm .fillPhone .ttl {
  position: absolute;
  top: 15px; left: 0;
  font-size: 16px;
  color: #5F5F5F;
  -webkit-transition: all .1s ease;
  transition:         all .1s ease;
  z-index: 1;
}
.contactForm .fillPhone .focus .ttl,
.contactForm .fillPhone .filled .ttl {
  top: 0;
  font-size: 13px;
  opacity: 0.7;
}
.contactForm .fillPhone input {
  position: relative; z-index: 2;
  padding-left: 12px;
}
@media only screen and (max-width: 950px) {

  section.proSec .proBox .chooseBox .items .labelBox{
    padding-left: 5px;
    width: calc(100% - 35px);
  }
  section.proSec .proBox .chooseBox .half .items:nth-child(1),
  section.proSec .proBox .chooseBox .half .items:nth-child(2) {
    display: block;
    width: 100%;
  }



}


/************
**********
********** Mobile
**********
*********** */
@media only screen and (max-width: 767px) {
  .reseve-M {
    display: block;
    position: fixed;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    z-index: 3;
    background: rgba(0,0,0, .3)
  }
  .reseve-M .reserveBtn{
    width: 80%;
  }
  label {
    margin-bottom: 6px;
  }
  input[type="text"] {
    height: 36px;
    line-height: 36px;
    width:100%;
    padding: 0 10px;
    border-radius: 5px;
    border: 2px solid rgba(255,86,14,1);
    background: #fff;
  }
  input[type="text"]:focus {
    border: 2px solid rgba(255,86,14,1);
  }

  textarea {
    background: #fff;
    border: 2px solid rgba(255,86,14,1);
  }
  section.proSec .proBox .chooseBox .items {
    margin-bottom: 24px;
  }
  .checkradios-checkbox, .checkradios-radio {
    border: 2px solid rgba(255,86,14,1);
  }
  /**
  **
  **
  **/
  .ui-tabs .ui-tabs-nav li {
    width: 50%;
    height: 36px;
    font-size: 16px;
    line-height: 36px;
  }
  .filledWrapper {
    padding: 20px 0 0 0;
    margin: 0;
  }
  /***
  ** lightbox
  **
  ***/
  .lightBox.w600 {
    max-width: 100%;
  }
  .lightConBox {
    /* ▼ 0921 修改 ▼ */
    max-width: 380px;
    /* ▲ 0921 修改 ▲ */
    margin: 0 auto;
  }
  header {
    padding: 0;
    height: 40px;
  }
  header .view {
    width: 100%;
    height: 40px;
    padding: 10px 20px 0 56px;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
  }
  header .ttl { width: 162px; }
  nav {
    width: 100%;
  }
  nav .btnMenuBur {
    position: absolute;
    top: 5px; left: 15px;
    display: block;
    width: 30px;
    height: 30px;
  }
  nav .btnMenuBur span.ln {
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform:         translate(-50%,-50%);
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 2px;
    background: #b2afad;
  }
  nav .btnMenuBur span.ln.tt { top: calc(50% - 6px);}
  nav .btnMenuBur span.ln.bb { top: calc(50% + 6px);}

  nav .linkMenu {
    position: fixed;
    top: 0; left: 0;
    z-index: 10;
    width: 0;
    height: 100vh;
    background: rgba(249,89,22,0.95);
    overflow: auto;
    -webkit-transform: none;
    transform:         none;
    padding-top: 60px;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
    opacity: 0.8;
  }
  .linkMenu > div {
    width: 100%;
    height: 80px;
    margin: 0;
    white-space: nowrap;
    border-bottom: 1px #f37844 solid;
  }
  .linkMenu > div:after { display: none; }
  .linkMenu a {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
    display: flex;
    -ms-align-items: center;
    align-items:     center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
  }
  .linkMenu a:hover { color: #fff;}

  .linkMenu,
  .linkMenu div,
  nav .btnMenuBur span.ln {
    -webkit-transition: all .4s ease;
    transition:         all .4s ease;
  }
  .linkMenu div {
    -webkit-transition-delay: .3s;
    transition-delay:         .3s;
    opacity: 0;
  }
  .menu-on nav .btnMenuBur { position: fixed; z-index: 99;}
  .menu-on nav .btnMenuBur span.ln { background: #fff; }
  .menu-on nav .linkMenu {
    width: 100vw;
    opacity: 1;
  }

  .menu-on nav .btnMenuBur span.ln.cc_1 {
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    transform:         translate(-50%,-50%) rotate(45deg);
  }
  .menu-on nav .btnMenuBur span.ln.cc_2 {
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    transform:         translate(-50%,-50%) rotate(-45deg);
  }
  .menu-on nav .btnMenuBur span.ln.tt { top: 50%; opacity: 0;}
  .menu-on nav .btnMenuBur span.ln.bb { top: 50%; opacity: 0;}

  .menu-on .linkMenu div {
    -webkit-transition-delay: 0s;
    transition-delay:         0s;
    -webkit-transition: all 0s ease;
    transition:         all 0s ease;
    opacity: 1;
  }



  section.kvSec .banner .reserveBtnBox{
    display: none;
  }
  .ui-tabs .ui-tabs-panel#tabs-1 {
    padding: 20px 0px;
  }
  section.tabSec .tabContent .mealinfo {
    display: block;
    padding: 0 20px 20px;
    width: 100%;
    border-right: none;
  }
  section.tabSec .tabContent .shopInfo {
    display: block;
    padding: 0 20px;
    width: 100%;
  }
  section.tabSec .tabContent ul.blogBox li {
    position: relative;
    display: block;
    float: none;
    width: 100%;
    padding-bottom: 10px;
    margin: 0 0 25px 0;
    padding: 0 20px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .ui-tabs .ui-tabs-panel#tabs-2 {
    margin: 20px auto 0;
  }
  section.tabSec .tabContent ul.blogBox li:before {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 1px;
    width: calc(100% - 20px);
    background: #cecece;
  }
  section.tabSec .tabContent ul.blogBox li a span.txtG {
    margin-bottom: 0;
  }
  section.tabSec .bloggerBox {
    margin-top: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  section.tabSec .bloggerBox .articleBox a {
    font-size: 16px;
  }
  section.proSec {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 10px 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 5;
    background: #fff5f0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  section.proSec.afterOrderPage{
    display: block;
    position: relative;
    padding: 20px 0 30px;
    height: initial;
    background: #fff;
  }
  section.proSec.showthis {
    display: block;
  }
  section.proSec.showthis .backToSite {
    display: block;
  }
  section.proSec .backToSite {
    font-size: 17px;
    line-height: 28px;
    color: #FE7262;
    cursor: pointer;
  }
  section.proSec .backToSite img{
    padding-right: 10px;
    max-width: 12px;
    width: 100%;
    vertical-align: -15%;
  }
  section.proSec .proBox {
    padding: 50px 0px 80px;
    background: transparent;
  }
  section.proSec .proBox .chooseBox {
    padding: 0;
    background: transparent;
    border: none;
  }
  section.proSec .proBox .chooseBox .items > .box {
    padding: 0;
    display: block;
    margin-bottom: 10px;
  }
  section.proSec .proBox .chooseBox .half .items:nth-child(1),
  section.proSec .proBox .chooseBox .half .items:nth-child(2) {
    display: block;
    width: 100%;
    padding: 0;
  }
  section.proSec .proBox .chooseBox .half .items .box {
    padding: 0;
  }
  section.proSec .proBox .chooseBox .items .box.totalAmount {
    text-align: right;
    margin-top: 30px;
  }
  section.proSec .reserveBtnBox {
    display: block;
    margin-top: 30px;
  }
  section.proSec .reserveBtnBox .reserveBtn {
    width: 100%;
  }
  section.proSec .money {
    font-size: 35px;
  }
  section.proSec .dollar {
    margin-top: -6px;
    font-size: 16px;
    vertical-align: bottom;
  }
  section.proSec.afterOrderPage h1 {
    padding: 0 20px;
    padding-bottom: 16px;
    font-size: 20px;
    color: #FE7262;
  }
  section.proSec.afterOrderPage h1 span {
    display: block;
    padding-top: 10px;
    padding-left: 0;
    font-size: 28px;
    color: #494949;
  }
  section.proSec.afterOrderPage .proBox {
    padding: 20px 20px;
  }
  section.proSec.afterOrderPage .proBox .chooseBox .items {
      margin-bottom: 18px;
  }
  section.proSec.afterOrderPage .proBox .chooseBox .half {
    margin-bottom: 0px;
  }
  section.proSec.afterOrderPage .proBox .chooseBox .items .box.totalAmount {
    margin-top: 10px;
  }
  section.proSec.afterOrderPage .formBox {
    padding: 20px 20px 0;
  }
  section.proSec.afterOrderPage input[type="text"] {
    font-size: 16px;
    line-height: 30px;
    display: block;
    width: calc(100% - 20px);
  }
.noteBox {padding: 0; }
  section.proSec.afterOrderPage .btnWrap {
    margin: 30px auto 20px;
  }
  section.servSec .listTtl {
    line-height: 32px;
    height: 32px;
  }

  section.infoSec .infoBox {
    padding: 0px 20px;
  }
  section.infoSec .infoBox .detailBox {
    padding: 24px 0px;
  }
  section.infoSec .infoBox .detailBox .detailItems {
    margin-bottom: 10px;
  }
  section.servSec h1 {
    padding: 40px 0 8px;
  }
  section.servSec .listBox {
    margin: 10px 0;
  }
  .detailInfoBox {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .detailInfoBox {
    margin-bottom: 14px;
  }

  .phoneBox {
    width: 100%;
      position: relative;
      top: 0;
      left: 0;
      -webkit-transform: translate(0);
      transform:         translate(0);
      font-size: 16px;
      line-height: 24px;
      color: #000;
      text-align: center;
  }
  section.proSec .proBox .chooseBox .ttl {
    margin-bottom: 10px;
  }
  .contactBox .img {
    padding-top: 0px;
    padding-bottom: 10px;
  }
  .contactForm { padding: 30px 10px;}
  .contactForm .phoneBox {
    padding: 20px 20px;
  }
  .contactForm .fillPhone .box { padding-top: 0;}
  .contactForm .fillPhone .ttl {
    position: relative;
    top: initial; left: initial;
    font-size: 14px;
    padding-bottom: 2px;
  }
  .contactForm .fillPhone .box span {
    width: auto;
  }
  .contactForm .fillPhone .focus .ttl,
  .contactForm .fillPhone .filled .ttl {
    top: initial; font-size: 14px; opacity: 1;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
 }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}

@media only screen and (max-width: 480px) {

}














/**
*
* fancybox
*
**/
.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{padding: 0;margin: 0;border: 0;outline: none;vertical-align: top;}
.fancybox-wrap {position: absolute;top: 0;left: 0; z-index: 8020;}
.fancybox-skin {position: relative;display: block;padding: 20px !important; width: 100%;background: #fff;text-align: center;border: 4px #fc7168 solid;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.fancybox-opened {z-index: 8030;}
.fancybox-outer, .fancybox-inner {position: relative;}
.fancybox-inner {overflow: hidden;}
.fancybox-type-iframe .fancybox-inner {-webkit-overflow-scrolling: touch;}
.fancybox-error {color: #444;font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin: 0;padding: 15px;white-space: nowrap;}
.fancybox-image, .fancybox-iframe {display: block;width: 100%;height: 100%;}
.fancybox-image {max-width: 100%;max-height: 100%;}
.fancybox-close {position: absolute;z-index: 9999;top: 10px;right: 5px;line-height: 36px;width: 36px;height: 36px;cursor: pointer;text-indent: -100000px;background: #fff url(../images/icon/icon_close.png) no-repeat;-webkit-background-size: 85% auto;-o-background-size: 85% auto;background-size: 85% auto;}
.fancybox-nav {position: absolute;top: 0;width: 40%;height: 100%;cursor: pointer;text-decoration: none;z-index: 8040;}
.fancybox-prev {left: 0;}
.fancybox-next {right: 0;}
.fancybox-nav span {position: absolute;top: 50%;display: block;width: 54px;height: 74px;text-indent: -100000px;margin-top: -35px;cursor: pointer;border: none;outline: none;z-index: 9;}
.fancybox-prev span {left: -26px;background: url(../images/icon/icon_slickprev.png) no-repeat center;background-size: 49% auto;}
.fancybox-next span {right: -26px;background: url(../images/icon/icon_slicknext.png) no-repeat center;background-size: 50% auto;}
.fancybox-nav:hover span {background-color: transparent;visibility: visible;}
.fancybox-tmp {position: absolute;top: -99999px;left: -99999px;visibility: hidden;max-width: 99999px;max-height: 99999px;overflow: visible !important;}
#fancybox-thumbs ul li {margin: 0 3px;}
/* Overlay helper */
.fancybox-lock {overflow: hidden !important;width: auto;}
.fancybox-lock body {overflow: hidden !important;}
.fancybox-lock-test {overflow-y: hidden !important;}
.fancybox-overlay {position: absolute;top: 0;left: 0;overflow: hidden;display: none;z-index: 8010;background: rgba(255,255,255, .7);}
.fancybox-overlay-fixed {position: fixed;bottom: 0;right: 0;top: 0;left: 0;}
/*
.fancybox-lock .fancybox-overlay {overflow: auto;overflow-y: scroll;}*/
.fancybox-lock .fancybox-overlay {overflow: hidden;}
/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5){
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
/*The size of the normal image, half the size of the hi-res image*/
}
}
@media only screen and (max-width: 767px) {
  .fancybox-lock {
    overflow: hidden !important;
    width: auto;
    height: 100vh;
    margin: 0;
  }
  .fancybox-lock body {
    height: 100vh !important;
    margin: 0;
    overflow: hidden !important;
  }
  .fancybox-lock body .siteWrap{
    height: 100vh;
    overflow: hidden;
  }
  .fancybox-lock .fancybox-overlay {
    overflow: hidden;
    height: 100vh !important;
  }
  .givemeFixed{
    position: fixed;
    left:0;
    top: 0;
  }

  /* ▼ 0921 新增 ▼ */
  .phoneChange{
    display: inline-block;
    padding: 3px 10px;
    margin: 6px 0 0;
  }
  .notePhone{ line-height: 20px; }
  .btnGoDown{ width:40px; height:40px; position: fixed; bottom:20px; left:50%; margin:0 0 0 -20px; cursor: pointer; display: block;}
  .btnGoDown img{ width:100%; }
  /* ▲ 0921 新增 ▲ */
  
}


#fancybox-thumbs {position: fixed;width: 100%;z-index: 8050;text-align: center;}
#fancybox-thumbs.bottom {bottom: 55px;}
#fancybox-thumbs.top {top: 2px;}
#fancybox-thumbs ul {width: initial !important;left: inherit !important;position: relative !important;list-style: none;margin: 0;padding: 0;}
#fancybox-thumbs ul li {display: inline-block;padding: 1px;}
#fancybox-thumbs ul li:focus a,#fancybox-thumbs ul li:hover a, #fancybox-thumbs ul li.active a {background: #666;}
#fancybox-thumbs ul li a {display: block;position: relative;overflow: hidden;outline: none;width: 8px !important; height: 8px !important; padding: 0; cursor: pointer; border: 0; outline: none; background: #c1c1c1;border: 1px #fff solid;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;-webkit-box-shadow: 0 0 1px rgba(255,255,255,0.7);-moz-box-shadow: 0 0 1px rgba(255,255,255,0.7);box-shadow: 0 0 1px rgba(255,255,255,0.7);}
#fancybox-thumbs ul li img {display: block;position: relative;border: 0;padding: 0;max-width: none;}
