.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

header {
  padding: 10px 10px 2px;
  height: auto;
  border-bottom: 1px solid #FF967C;
  background: #fff;
}

.top-box {
  width: 1170px;
  margin: 0 auto;
}

.logo {
  margin: 0 23px 0 0;
  display: inline-block;
  vertical-align: middle;
}

.logo-partner {
  display: inline-block;
  vertical-align: middle;
}

.nav-box {
  float: right;
  width: 55%;
}

.nav {
  text-align: right;
}

.nav li {
  display: inline-block;
  vertical-align: middle;
}

.nav a {
  font-size: 14px;
  color: #6B6B6B;
  padding: 2px 4px 2px 0;
  display: block;
  transition: .3s;
}

.nav a:hover {
  color: #e86344;
}

.m-btn-order {
  display: none;
}

.slide-box {
  width: 1170px;
  margin: 0 auto 60px;
}

.project-slide img {
  width: 100%;
  display: block;
}

.project-slide .swiper-button-prev {
  width: 60px;
  height: 60px;
  background-image: url(../images/btn_prev.png);
  background-repeat: no-repeat;
  margin-top: -30px;
  background-size: cover;
}

.project-slide .swiper-button-next {
  width: 60px;
  height: 60px;
  background-image: url(../images/btn_next.png);
  background-repeat: no-repeat;
  margin-top: -30px;
  background-size: cover;
}

.project-slide .swiper-pagination-bullets {
  bottom: 20px;
}

.project-slide .swiper-pagination-bullet {
  background: #939090;
  vertical-align: middle;
  opacity: 1;
}

.project-slide .swiper-pagination-bullet-active {
  background: transparent;
  border: 2px solid #939090;
  opacity: 1;
}

.project-tit {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 32%;
  left: 0;
  z-index: 1;
}

.project-tit h2 {
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 20px black;
  line-height: 1;
}

.project-tit p {
  font-size: 32px;
  color: #fff;
  text-shadow: 0 0 20px black;
  line-height: 1;
}

.line {
  width: 100px;
  height: 3px;
  background: #fff;
  margin: 25px auto;
}

.cont {
  background: #f2f4f1;
  padding: 30px 0;
}

.project-list {
  width: 1170px;
  margin: 0 auto 50px;
}

.project-list h3 {
  text-align: center;
  color: #959493;
  font-size: 50px;
  line-height: 1;
}

.project-list ul {
  padding: 10px 0 0;
}

.project-list li {
  width: 270px;
  border-radius: 5px;
  overflow: hidden;
  border-bottom: 1px solid #e2dee0;
  margin: 0 30px 30px 0;
  float: left;
  transition: .3s;
}

.project-list li:hover {
  transform: scale(1.05);
}

.project-list li:nth-child(4n) {
  margin: 0 0 30px;
}

.project-list a {
  display: block;
}

.project-list p {
  font-size: 16px;
  color: #333;
  height: 50px;
  background: #fff;
  padding: 15px 10px;
  overflow: hidden;
}

.project-list .line {
  background: #c2c3c1;
  margin: 25px auto 40px;
}

.kvBox .slick-dots li button {
  width: 10px;
  height: 10px;
  padding: 0;
}

.kvBox .slick-dots li button:before {
  background: #EDEDED;
  width: 10px;
  height: 10px;
}

.kvBox li.slick-active button:before {
  background: #FF8653;
}

.kvBox .slick-dots {
  text-align: left;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  bottom: 90px;
}

.ban-shadow {
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 0 0 24px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.food-sub-tit {
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0.53px;
  line-height: 29px;
}

.food-tit {
  font-size: 20px;
  font-weight: 600;
  color: #FF7958;
  letter-spacing: 0.7px;
  line-height: 29px;
}

.breadcrumb-box {
  width: 1170px;
  border-bottom: 1px solid #EDEDED;
  margin: 0 auto;
  overflow: hidden;
}

.breadcrumb-box ul {
  float: left;
}

.breadcrumb-box li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.breadcrumb-box li:after {
  content: "\f054";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 12px;
  color: #ababab;
  width: 10px;
  position: absolute;
  right: -8px;
  top: 15px;
}

.breadcrumb-box li:last-child:after {
  content: "";
}

.breadcrumb-box a {
  color: #999;
  padding: 10px;
  display: block;
}

.breadcrumb-box a.act {
  color: #333;
}

.food-desc {
  color: #929292;
  font-size: 14px;
  text-align: right;
  padding: 8px 0;
  float: right;
}

.food-desc img {
  width: 14px;
  margin: 0 3px;
  vertical-align: middle;
}

.food-desc img.bag {
  width: 12px;
}

.food-desc span {
  margin: 0 10px 0 5px;
  display: inline-block;
  vertical-align: middle;
}

.m-food-name {
  display: none;
}

.btn-share {
  padding: 1px 7px;
  margin: 0 15px 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: .3s;
  display: none;
}

.btn-share:hover {
  color: #fff;
  background: #FF8653;
  border: 1px solid #FF8653;
}

.booking-info h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  width: 1170px;
  margin: 0 auto 30px;
  background: #FF5E33;
  padding: 10px;
}

.booking-store {
  width: 580px;
  margin: 0 auto 15px;
}

.booking-store h3 {
  font-size: 15px;
  font-weight: 600;
  color: #2A2A2A;
  margin: 0 0 5px;
}

.booking-store .selectboxit-text {
  margin: 0 0 0 10px;
  font-size: 17px;
}

.booking-store-sel {
  border: 2px solid #EB6545;
  border-radius: 5px;
}

.booking-store-sel .sel-box {
  width: 100%;
  border-right: 0;
}

.booking-store-sel .sel-box .selectboxit-container .selectboxit {
  padding: 0;
}

.booking-box {
  letter-spacing: 1px;
  width: 580px;
  margin: 0 auto;
}

.booking-box h3 {
  font-size: 15px;
  font-weight: 600;
  color: #2A2A2A;
  margin: 0 0 5px;
}

.booking-box h3 span {
  font-size: 12px;
  font-weight: 500;
  color: #555;
}

.booking-box h4 {
  font-size: 17px;
  color: #000;
  letter-spacing: 1px;
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}

.booking-box h4 span {
  font-size: 12px;
  font-weight: 500;
  color: #f00;
}

.booking-item {
  margin: 0 0 15px;
}

.booking-item input[type="radio"] {
  display: none;
  opacity: 0;
  position: absolute;
}

.booking-item input[type="radio"]:checked + .booking-checked {
  opacity: 1;
}

.booking-item label {
  cursor: pointer;
  background: #fff;
  display: block;
  border: 1px solid #C3C3C3;
  border-radius: 6px;
  padding: 18px;
  position: relative;
  transition: .3s;
}

.booking-item label:hover {
  border: 1px solid #FF5E33;
}

.booking-item:hover .booking-checked {
  opacity: 1;
}

.booking-checked {
  border: 5px solid #FF5E33;
  border-radius: 6px;
  box-sizing: border-box;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: 1;
  transition: .3s;
  opacity: 0;
}

.booking-price {
  font-size: 20px;
  color: #FB542D;
  font-weight: 600;
  letter-spacing: 0.51px;
  line-height: 19px;
  width: 12%;
  float: right;
  display: inline-block;
  vertical-align: middle;
}

.booking-price span {
  font-size: 12px;
  text-decoration: line-through;
  font-weight: 500;
  color: #ACA6A4;
  line-height: 19px;
}

.booking-option {
  letter-spacing: 1px;
  width: 580px;
  margin: 0 auto 30px;
}

.booking-option h2 {
  font-size: 15px;
  font-weight: 600;
  color: #2A2A2A;
  margin: 0 0 5px;
}

.booking-option h2 span {
  font-size: 12px;
  font-weight: 500;
  color: #555;
}

.booking-time {
  width: 68%;
  float: left;
}

.booking-time h3 {
  font-size: 15px;
  font-weight: 600;
  color: #2A2A2A;
  margin: 0 0 5px;
}

.booking-time h3 span {
  font-size: 12px;
  font-weight: 500;
  color: #555;
}

.booking-sel {
  border: 2px solid #EB6545;
  border-radius: 5px;
}

.booking-sel div:last-child {
  border-right: 0;
}

.sel-box {
  color: #EB6545;
  width: 50%;
  float: left;
  border-right: 2px solid #eb6545;
  box-sizing: border-box;
  position: relative;
}

.sel-box i {
  font-size: 18px;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
}

.sel-box .selectboxit-container {
  width: 100%;
}

.sel-box .selectboxit-container span {
  color: #333;
}

.sel-box .selectboxit-container .selectboxit {
  width: 99% !important;
  box-sizing: border-box;
  padding: 0 0 0 25px;
  border-radius: 0;
}

.sel-box .selectboxit .selectboxit-option-icon-container {
  margin: 0;
}

.sel-box .selectboxit-text {
  font-family: Arial, "Heiti TC", 'Microsoft JhengHei', Helvetica, sans-serif;
}

.booking-quantity {
  width: 30%;
  float: right;
}

.booking-quantity h3 {
  font-size: 15px;
  font-weight: 600;
  color: #2A2A2A;
  margin: 0 0 5px;
}

.booking-quantity-sel {
  border: 2px solid #EB6545;
  border-radius: 5px;
}

.booking-quantity-sel .sel-box {
  width: 100%;
  border-right: 0;
}

.booking-quantity-sel .sel-box .selectboxit-container .selectboxit {
  padding: 0;
}

.total-price {
  text-align: right;
  width: 580px;
  margin: 0 auto 30px;
}

.total-price p {
  font-size: 12px;
  color: #595959;
  margin: 0 3px 0 0;
  display: inline-block;
  vertical-align: top;
  line-height: 1.5;
}

.total-price span {
  font-size: 32px;
  color: #FF5C2A;
  border-bottom: 1px solid #FF5C2A;
  display: inline-block;
  vertical-align: top;
  line-height: 1;
}

.form-box {
  width: 580px;
  margin: 0 auto 30px;
  border-top: 1px solid #FFC7C0;
  padding: 20px 0 0;
  overflow: hidden;
}

.form-box div:nth-child(2) {
  margin: 0 0 20px;
}

.input-box {
  width: 49%;
  margin: 0 2% 20px 0;
  float: left;
}

.input-box label {
  font-weight: 600;
  font-size: 15px;
  color: #2A2A2A;
}

.input-box input {
  width: 100%;
  height: 36px;
  padding: 0 10px;
  border: 2px solid #FFC7C0;
  border-radius: 5px;
}

.input-box span {
  color: #7D7D7D;
  font-size: 12px;
}

.input-box textarea {
  border: 2px solid #FFC7C0;
}

.fill-input {
  width: 100%;
  margin: 0 0 20px;
}

.btn-submit {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-family: Arial, "Heiti TC", 'Microsoft JhengHei', Helvetica, sans-serif;
  width: 340px;
  margin: 0 auto;
  padding: 8px 0;
  background: #FF5E33;
  border-radius: 5px;
  border: none;
  display: block;
  transition: .3s;
  cursor: pointer;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-submit:hover {
  background: #f37844;
}

.light-h2 {
  font-size: 21px;
  color: #FF5919;
  text-align: left;
  letter-spacing: 0.24px;
  margin: 0 0 15px;
}

.listBox.last-box .con {
  border-bottom: none;
}

.prod-info {
  margin: 0 0 20px;
  border-bottom: 1px solid #FFCDB7;
}

.pay-flow {
  text-align: center;
}

.pay-flow p {
  font-size: 12px;
  line-height: 1.5em;
}

.pay-flow li {
  width: 85px;
  display: inline-block;
  vertical-align: top;
}

.pay-flow li img {
  width: 77%;
}

.pay-flow li img.ishapon {
  width: 60%;
  vertical-align: text-top;
}

.pay-flow li.step-arrow {
  width: 50px;
}

.pay-flow li.step-arrow img {
  margin: 25px 0 0;
}

.m-page {
  display: none;
}

.fixed-box {
  background: #fff;
  border: 1px solid #ff040b;
  border-right: none;
  position: fixed;
  top: 100%;
  right: 0;
  opacity: 0;
  z-index: 1;
  overflow: hidden;
}

.fix-close {
  color: #fff;
  font-size: 12px;
  text-align: center;
  width: 20px;
  height: 42px;
  line-height: 14px;
  background: #ff040b;
  padding: 5px 0;
  float: left;
  cursor: pointer;
  transition: .3s;
}

.fix-close:hover {
  background: #d00006;
}

.fix-cont {
  width: 160px;
  padding: 5px 5px 5px 0;
  float: left;
  display: block;
}

.fix-img {
  width: 42px;
  height: 42px;
  margin: 0 0 0 5px;
  background: #eee;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.fix-img img {
  width: 100%;
  height: 100%;
}

.fix-txt-group {
  display: inline-block;
  vertical-align: middle;
}

.fix-tit {
  font-size: 15px;
  color: #ff040b;
}

.fix-txt {
  font-size: 12px;
  color: #383838;
}

.img-box {
  width: 100%;
}

.img-box img {
  width: 100%;
  display: block;
}

footer {
  height: auto;
  background: #333;
}

.fot-box {
  width: 1170px;
  padding: 53px 0;
  margin: 0 auto;
  overflow: hidden;
}

.copyright {
  text-align: left;
  font-size: 18px;
  color: #fefefe;
  width: 50%;
  float: left;
}

.copyright br {
  display: none;
}

.bot-nav {
  text-align: right;
  width: 50%;
  float: right;
}

.bot-nav a {
  font-size: 16px;
  color: #fefefe;
  padding: 0 10px;
  transition: .3s;
}

.bot-nav a:hover {
  color: #e86344;
}

@media only screen and (max-width: 1200px) {
  .slide-box {
    width: 100%;
  }
  .project-list {
    width: auto;
    padding: 0 10px;
  }
  .project-list h3 {
    font-size: 45px;
  }
  .project-list li {
    width: 23.5%;
    margin: 0 2% 20px 0;
  }
  .project-list li:nth-child(4n) {
    margin: 0 0 20px 0;
  }
  .fot-box {
    width: 96%;
    padding: 43px 0;
  }
  .breadcrumb-box {
    width: 100%;
  }
  .booking-info h2 {
    width: auto;
  }
}

@media only screen and (max-width: 1000px) {
  header {
    padding: 13px 5px 5px;
  }
  header .ttl {
    width: 205px;
    margin-right: 5px;
  }
  header .partner {
    width: 76px;
  }
  .cont {
    padding: 0 0 30px;
  }
  .slide-box {
    margin: 0 auto 40px;
  }
  .project-tit {
    top: 30%;
  }
  .project-tit h2 {
    font-size: 50px;
  }
  .project-tit p {
    font-size: 22px;
  }
  .line {
    width: 80px;
    margin: 15px auto 25px;
  }
  .project-list {
    margin: 0 auto 30px;
  }
  .project-list h3 {
    font-size: 35px;
  }
  .fot-box {
    padding: 30px 0;
  }
  .copyright {
    text-align: center;
    width: 100%;
  }
  .bot-nav {
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  header {
    padding: 2px 0;
  }
  header .view {
    height: auto;
    padding: 7px 20px 0px 5px;
  }
  .nav {
    display: none;
  }
  .nav a {
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 0 20px;
    display: flex;
  }
  .nav a:hover {
    color: #fff;
  }
  .nav a.contact {
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
  }
  .nav a.contact:hover {
    background: none;
  }
  .project-tit h2 {
    font-size: 40px;
  }
  .project-tit p {
    font-size: 16px;
  }
  .line {
    width: 60px;
    height: 2px;
    margin: 10px auto 15px;
  }
  .project-list h3 {
    font-size: 30px;
  }
  .project-list .line {
    width: 60px;
    margin: 10px auto 15px;
  }
  .project-list p {
    font-size: 14px;
    height: 40px;
    padding: 10px;
  }
  .project-list li {
    width: 48%;
    margin: 0 4% 15px 0;
  }
  .project-list li:nth-child(2n) {
    margin: 0 0 15px 0;
  }
  .project-list li:nth-child(4n) {
    margin: 0 0 15px 0;
  }
  .fot-box {
    padding: 20px 0;
  }
  .copyright {
    font-size: 14px;
  }
  .copyright br {
    display: block;
  }
  .bot-nav a {
    font-size: 13px;
  }
  .tabSec {
    display: none;
  }
  .booking-info {
    display: none;
  }
  .infoSec {
    display: none;
  }
  .m-page {
    width: 100%;
    overflow: hidden;
    display: block;
  }
  .m-btn-order {
    margin: 5px 0 0;
    float: right;
    display: block;
  }
  .m-btn-order a {
    font-size: 14px;
    color: #6B6B6B;
    transition: .3s;
  }
  .m-btn-order a:hover {
    color: #e86344;
  }
  .ban-shadow {
    display: none;
  }
  .btn-share {
    display: none;
  }
  .kvBox .slick-dots {
    text-align: center;
    bottom: 20px;
  }
  .breadcrumb-box {
    border: none;
  }
  .m-food-name {
    padding: 10px;
    display: block;
    position: relative;
  }
  .m-food-name .food-sub-tit {
    color: #111;
    /*padding: 0 75px 0 0;*/
  }
  .m-food-name .food-tit {
    /*padding: 0 75px 0 0;*/
  }
  .m-food-name .btn-share {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
  }
  .tab-box {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #ff663e;
    position: relative;
    z-index: 1;
  }
  .tab-box .slick-list {
    overflow: visible;
  }
  .tab-box .tab-btn.slick-current {
    color: #fff;
    background: #FF663E;
  }
  .tab-box .tab-btn.slick-current .arrow {
    display: block;
  }
  .tab-btn {
    font-size: 18px;
    color: #8A8A8A;
    text-align: center;
    width: 33.33333%;
    background: #F9F9F9;
    padding: 12px 0 9px;
    border-right: 1px solid #EAEAEA;
    box-sizing: border-box;
    float: left;
    cursor: pointer;
    position: relative;
    transition: .3s;
  }
  .tab-btn-last {
    border-right: none;
  }
  .arrow {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 6px solid #FF663E;
    margin: 0 0 0 -5px;
    position: absolute;
    left: 50%;
    bottom: -11px;
    display: none;
  }
  .booking-store-sel .sel-box .selectboxit-text {
    font-weight: 600;
    font-size: 16px;
    padding: 0;
  }
  .booking-time {
    width: 100%;
  }
  .booking-info {
    background: #FFDACE;
    padding: 20px 0;
  }
  .sel-box .selectboxit-container .selectboxit {
    width: 100% !important;
    margin: 0;
    border-radius: 5px;
  }
  .sel-box .selectboxit-text {
    font-size: 18px;
    padding: 0 0 0 5px;
    float: none;
  }
  .articleBox {
    margin: 10px 0 0;
  }
  .articleBox a {
    color: #ff7563;
    font-size: 15px;
    line-height: 24px;
    text-decoration: underline;
  }
  .booking-quantity {
    width: 100%;
  }
  .booking-quantity .selectboxit-text {
    font-weight: 600;
    text-align: center;
  }
  .order-bg {
    padding: 20px 0;
    background: #FFDACE;
  }
  .shopInfo {
    margin: 15px;
  }
  .shopInfo .ttl {
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
  }
  .shopInfo p {
    line-height: 24px;
    color: #333;
  }
  .mealinfo {
    padding: 10px 15px;
    margin: 0 15px 15px;
    background: #FFFAEA;
  }
  .mealinfo .ttl {
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
  }
  .store-info {
    padding: 20px 0;
  }
  .store-info .detailItems {
    margin: 0 15px;
  }
  .store-info .detailItems .ttl {
    position: relative;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #000;
    letter-spacing: 2px;
  }
  .store-info .detailItems .icon {
    max-width: 30px;
    display: inline-block;
    vertical-align: bottom;
  }
  .store-info .detailItems ul {
    margin-left: 20px;
    margin-bottom: 20px;
    list-style-type: square;
  }
  .store-info .detailItems li {
    padding-bottom: 6px;
  }
  .store-info .detailItems span.left {
    min-width: 42px;
    display: inline-block;
    vertical-align: top;
  }
  .store-info .detailItems span.right {
    width: calc(100% - 80px);
    display: inline-block;
    vertical-align: top;
  }
  .input-box textarea:focus {
    border: 2px solid #ff560e;
  }
}

@media only screen and (max-width: 620px) {
  header .ttl {
    width: 145px;
  }
  header .partner {
    width: 54px;
  }
  header .view {
    padding: 7px 5px 0 5px;
  }
  .m-btn-order {
    margin: 3px 0 0;
  }
  nav .btnMenuBur {
    top: 4px;
    left: 3px;
    display: none;
  }
  nav span.ln {
    width: 18px;
  }
  .kvBox .slick-dots {
    bottom: 5px;
  }
  .kvBox .slick-dots li {
    width: 6px;
    height: 6px;
    margin: 0 4px;
  }
  .kvBox .slick-dots li button:before {
    width: 6px;
    height: 6px;
  }
  .project-tit h2 {
    font-size: 20px;
  }
  .project-tit p {
    font-size: 15px;
  }
  .line {
    width: 40px;
    margin: 10px auto 15px;
  }
  .slide-box {
    margin: 0 0 30px;
  }
  .slide-box .swiper-button-prev {
    display: none;
  }
  .slide-box .swiper-button-next {
    display: none;
  }
  .project-slide .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
  }
  .project-slide .swiper-pagination-bullets {
    bottom: 5px;
  }
  .cont {
    padding: 0 0 10px;
  }
  .project-list {
    padding: 20px 5% 0;
  }
  .project-list .line {
    width: 40px;
    margin: 10px auto 15px;
  }
  .project-list h3 {
    font-size: 18px;
  }
  .bot-nav a {
    font-size: 12px;
    padding: 0 3px;
  }
  .copyright {
    line-height: 1.6;
  }
  .breadcrumb-box li:after {
    font-size: 10px;
    top: 10px;
  }
  .breadcrumb-box a {
    font-size: 12px;
    padding: 5px;
  }
  .food-desc {
    padding: 4px 0;
  }
  .food-desc i {
    margin: 0;
  }
  .food-desc span {
    margin: 0 5px 0 0px;
  }
  .m-food-name {
    padding: 0 10px 10px;
  }
  .m-food-name .food-sub-tit {
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 3px;
  }
  .m-food-name .food-tit {
    font-size: 18px;
    line-height: 20px;
  }
  .m-food-name .btn-share {
    right: 5px;
    margin: 0;
  }
  .tab-btn {
    font-size: 18px;
  }
  .booking-time h3 {
    font-size: 14px;
    color: #000;
    margin: 0 0 5px;
  }
  .booking-store {
    width: auto;
    margin: 0 10px 15px;
    box-sizing: border-box;
  }
  .booking-store h3 {
    font-size: 14px;
    color: #2A2A2A;
    margin: 0 0 5px;
  }
  .booking-store .booking-quantity-sel .selectboxit-text {
    font-size: 16px;
    font-family: Arial, "Heiti TC", 'Microsoft JhengHei', Helvetica, sans-serif;
  }
  .booking-quantity h3 {
    font-size: 14px;
    color: #000;
    margin: 0 0 5px;
  }
  .booking-price {
    font-size: 18px;
    width: 23%;
    float: none;
  }
  .booking-box {
    width: auto;
    margin: 0 10px;
    box-sizing: border-box;
  }
  .booking-box h3 {
    font-size: 14px;
  }
  .booking-box label {
    padding: 10px;
  }
  .booking-box h4 {
    font-size: 16px;
    width: 74%;
  }
  .booking-checked {
    border: 3px solid #FF5E33;
  }
  .booking-option {
    width: auto;
    margin: 0 10px 30px;
  }
  .booking-sel {
    background: #fff;
    margin: 0 0 10px;
  }
  .sel-box i {
    font-size: 15px;
    top: 9px;
    left: 6px;
  }
  .sel-box .selectboxit-text {
    font-size: 13px;
    letter-spacing: 0px;
  }
  .sel-box .selectboxit-container .selectboxit {
    padding: 0 0 0 22px;
  }
  .sel-box .selectboxit-arrow-container {
    right: -3px;
  }
  .selectboxit .selectboxit-option-icon-container {
    margin: 0;
  }
  .booking-quantity-sel .selectboxit-text {
    font-size: 18px;
  }
  .total-price {
    width: auto;
    margin: 0 10px 30px;
  }
  .form-box {
    width: auto;
    margin: 0 10px;
  }
  .form-box div:nth-child(2) {
    margin: 0 0 10px;
  }
  .input-box {
    width: 100%;
    margin: 0 0 10px;
    float: none;
  }
  .input-box span {
    line-height: 1.4;
    display: block;
  }
  .btn-submit {
    font-size: 18px;
    width: 100%;
    padding: 11px 0 10px;
  }
  .mapBTn a {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    padding: 2px 5px;
    background: #FFB43E;
    border-radius: 3px;
  }
  .fancybox-skin {
    padding: 10px !important;
  }
  .pay-flow li {
    width: 23%;
  }
  .pay-flow li img {
    width: 100%;
  }
  .pay-flow li img.ishapon {
    width: 100%;
    display: block;
  }
  .pay-flow li.step-arrow {
    width: 10%;
  }
  .pay-flow li.step-arrow img {
    width: 100%;
    margin: 90% 0 0;
  }
  .pay-flow p {
    line-height: 1.2em;
  }
  .btnWrap .reserveBtn {
    width: 100%;
  }
  .lightBox .btnWrap {
    margin: 20px auto 20px;
  }
  .listBox .ttl {
    font-size: 14px;
    width: 23%;
    padding: 0 3% 0 0;
  }
  .listBox .con {
    font-size: 14px;
    padding: 0 0 5px;
  }
  .fancybox-close {
    background: #fff url(../images/icon/icon_close.png) no-repeat right top;
    background-size: 60% auto;
  }
}

@media only screen and (max-width: 320px) {
  .project-list {
    margin: 0 auto 10px;
  }
  .project-slide img {
    width: 140%;
    position: relative;
    left: 50%;
    margin: 0 0 0 -70%;
  }
  .project-slide a {
    height: 200px;
    display: block;
    overflow: hidden;
  }
  .project-slide .swiper-pagination-bullets {
    bottom: 10px;
  }
  .listBox .ttl {
    width: 25%;
  }
}
